<h1>Ali Tweets v14</h1>

<% if flash[:status] %>
  <p style='color: green'>
    <%= flash[:status] %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th colspan='3'></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.body %></td>
        <td><%= link_to 'Delete Tweet', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tweet', new_tweet_path %>
